* {
  box-sizing: border-box;
}

body {
  background: #010202;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

.header {
  width: 90%;
  max-width: 1146px;
  margin: 0 auto;
  padding: 56px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user {
  display: flex;
  align-items: center;
}

.user-name {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-right: 15px;
}

.app {
  background: linear-gradient(
    90deg,
    #010202 0%,
    #010202 43%,
    rgba(1, 2, 2, 0.2) 90.9%
  );
  min-height: 100vh;
  color: white;
}

.film {
  width: 90%;
  max-width: 1146px;
  height: calc(100vh - 152px);
  margin: 0 auto;
  padding: 7% 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 16px;
  line-height: 140%;
  flex-wrap: wrap;
  color: #e5e5e5;
  opacity: 0.4;
}

.tags > * {
  margin-right: 15px;
  margin-bottom: 10px;
}

.age {
  opacity: 0.5;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 1px 5px;
}

.discription {
  max-width: 460px;
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 36px;
}

.button {
  padding: 11px 26px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  line-height: 140%;
  background: #2f2f2f;
  color: white;
  cursor: pointer;
}

.button-primary {
  background: #ea6e20;
  margin-right: 15px;
}
.button-text {
  margin-left: 10px;
  vertical-align: text-bottom;
}

@media (max-width: 768px) {
  .app {
    height: auto;
    padding-bottom: 400px;
    background: url(../img/cover-image.jpg) no-repeat button center / 300px;
  }
  video {
    display: none;
  }
  .film {
    padding-top: 2%;
  }
  .discription {
    font-size: 16px;
    max-width: 333px;
  }
  .film-logo {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .button-text {
    display: none;
  }
  .user-name {
    display: none;
  }
  .app {
    padding-bottom: 350px;
    background-size: 300px;
  }
  .button {
    margin-bottom: 10px;
  }
}

.submit-form {
  display: flex;
  flex-direction: column;
}

.submit-form > input {
  margin-top: 15px;
}
